.coin {
    background: url("../pics/coin.png") no-repeat center;
    background-size: 150px;
}
.spark {
    background: url("../pics/spark.png") no-repeat center;
    background-size: 150px;
}
.pelaaja {
    background: url("../pics/player.png") no-repeat center;
    background-size: 150px;
}
body {
    background-color: white;
    color: whitesmoke;
}

table.pelialue td {
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

table.pelialue {
    float: left;
}

.nimi span {
    background-color: black;
    margin-left: 10px;
    margin-top: 100px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.pisteet span {
    background-color: black;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-group {
    margin-bottom: 5px;
    margin-left: 10px;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 1.5em;
}
.uusipeli {

    margin-top: 15%;

}